.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.HeaderButtons {
  position: fixed;
  width:100%;
  display: flex;
}

.HeaderButton {
  flex-grow: 1;
  background-color: black;
  border: none;
  color: white;
  font: Tahoma, Geneva, sans-serif;
  font-size: 24px;
  cursor: pointer;
}

.SplashImage {
  width:100%;
  z-index: -2;
}

.PageBox {
  width:100%;
  background-color: white;
  color: black;
  z-index: 1;
  min-height: 100%;
}