.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 65px;
}

.App-link {
  color: #09d3ac;
}

.HeaderButtons {
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  background-color: #fefefe;
  position: fixed;
  width:100%;
  display: flex;
  z-index: 5;
  height: 65px;
}

.HeaderButton {
  background-color: #00000000;
  border: none;
  color: #555555;
  font: Tahoma, Geneva, sans-serif;
  font-size: 48px;
  cursor: pointer;
  transition: 0.2s;
}
.HeaderButton:hover {
  color: #000000;
}

.SplashImage {
  width:100%;
  z-index: 1;
}

.PageBox {
  width:100%;
  background-color: white;
  color: black;

  z-index: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 800px;
}